main {
    margin-top: 20px;

    div {
        text-align: center;
        width: 100%;
        min-height: 584px;
        background-color: res;
        background-image: url('../../../assets/images/logo.png');
        background-repeat: no-repeat;
        background-position: center;

        a {
            display: inline-block;
            margin-top: 360px;
            margin-left: 60px;
            color: #1B2870;
            border: 3px solid #1B2870;
            padding: 10px 30px;
            text-decoration: none;
            border-radius: 10px;
            font-size: 1.2rem;
            font-weight: bold;
            transition: all 300ms ease;
        }

        a:hover, a:active, a:focus {
            color: white;
            background-color: #1B2870;
        }
    }
}