main {
  margin-top: 20px;
  text-align: center;

  .preview,
  .order {
    width: 49.9%;
    display: inline-block;
    vertical-align: top;
  }

  .preview {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .order {
    form.disabled {
      opacity: 0.8;
      cursor: no-drop;
    }

    form {
      max-width: 370px;
      background-color: #F8F0EA;
      border: 4px solid #1B2870;
      border-radius: 15px;
      padding: 35px;

      h1 {
        text-transform: uppercase;
        color: #1B2870;
        font-size: 1.5rem;
        margin: 0 0 20px 0;
        padding: 0;
        letter-spacing: 1px;
      }

      input[type='text'] {
        width: calc(100% - 70px);
        padding: 15px;
        background-color: white;
        border: 1px solid #DDD;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1.2rem;
        color: #999;
      }

      input[type='text']::placeholder {
        color: #CCC;
      }

      .pick-flavour {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 60px;

        strong {
          text-transform: uppercase;
          font-size: .9rem;
          letter-spacing: 1px;
          color: #1B2870;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin: 15px 0;

            label {
              font-weight: bold;
              font-size: 1.2rem;
              color: #1B2870;

              input[type='radio'] {
                margin: 0 10px 0 0;
                appearance: none;
                display: inline-block;
                width: 23px;
                height: 23px;
                border-radius: 100%;
                position: relative;
                background-color: white;
                border: 1px solid #CCC;
                vertical-align: sub;
              }

              input[type='radio']:checked {
                background-color: #163850;
              }

              input[type='radio']:checked::before {
                content: '';
                width: 9px;
                height: 9px;
                top: 6px;
                left: 6px;
                position: absolute;
                border-radius: 100%;
                background-color: white;
              }
            }
          }
        }
      }

      .newsletter {
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 1rem;
        color: #1B2870;

        input[type='checkbox'] {
          margin: 0 5px 0 0;
          appearance: none;
          display: inline-block;
          width: 25px;
          height: 25px;
          border-radius: 5px;
          position: relative;
          background-color: white;
          border: 1px solid #CCC;
          vertical-align: text-top;
        }

        input[type='checkbox']:checked {
          background-color: #163850;
        }

        input[type='checkbox']:checked::before {
          content: '';
          position: absolute;
          left: 8px;
          top: 4px;
          width: 4px;
          height: 8px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      button {
        width: 100%;
        display: block;
        background-color: #163850;
        color: white;
        padding: 15px;
        border-radius: 15px;
        text-transform: uppercase;
        font-size: 1.1rem;
        letter-spacing: 2px;
      }

      button:disabled {
        opacity: 0.5;
        cursor: no-drop;

        img {
          vertical-align: bottom;
          height: 25px;
          margin-right: 10px;
        }
      }

      .success {
        h2 {
          font-size: 2.5rem;
          color: #1B2870;
        }

        p {
          font-weight: bold;
          font-size: 1.1rem;
          color: #1B2870;
        }

        a {
          text-decoration: none;
          color: #1B2870;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  main {
    .preview {
      width: 24.9%;
    }

    .order {
      width: 64.9%;
    }
  }
}
