<main>
  <div>
    <div class="preview">
      <img *ngIf="currentFlavour" src="{{'assets/images/' + currentFlavour.image}}" alt="flavour">
    </div>
    <div class="order">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="{{submitted ? 'disabled' : ''}}">
        <h1>The Popsicle Stop</h1>

        <div *ngIf="!success">
          <div>
            <input type="text" formControlName="orderedBy" placeholder="Your Name">
          </div>

          <div class="pick-flavour">
            <strong>Pick a Flavour</strong>
            <ul *ngIf="flavours">
              <li *ngFor="let f of flavours">
                <label><input type="radio" [(ngModel)]="selected" [value]="f.id" [ngModelOptions]="{standalone: true}"
                    (change)="
                  selectFlavour(f)">{{f.title}}</label>
              </li>
            </ul>
          </div>

          <div class="newsletter">
            <label><input type="checkbox" formControlName="shouldSubscribe"> Subscribe to our weekly newsletter</label>
          </div>

          <div>
            <button [disabled]="submitted || form.invalid" type="submit">
              <img src="assets/images/loading.svg" *ngIf="submitted">Order Popsicle
            </button>
          </div>
        </div>

        <div class="success" *ngIf="success">
          <h2>Thanks!</h2>
          <div>
            <img src="../../../assets/images/success.png" alt="success">
          </div>
          <div>
            <p>Your order will be ready for pick-up at the side our Ice cream truck in 3 minutes.</p>
            <a href="#" onclick="return false;" (click)="back()">Back</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
