/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #F9E2D1;
    margin: 0;
    padding: 0;
}